.back {
    background-color: #ffd504;
    border-radius: 27px;
}

.back h4 {
    color: white;
    font-family: inter;
    font-size: larger;
}

.annbox {
    background-color: white;
    box-shadow: 2px 2px 30px 2px #00000015;
    border-radius: 27px;
    display: flex;
    margin: 1rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.annbox h3 {
    font-family: inter;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.announcement-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow-y: scroll;
    height: 400px;

}

.announcement-left a{
    margin: 1rem 0rem 1rem 0rem;
}

.vl {
    border-left: 1px solid #585858;
}

.ann-section {
    font-family: inter;
    color: #000000;
    display: flex;
    width: 70%;
    margin: 0rem 3rem;
    flex-direction: column;
}

.ann-section h2 {
    font-size: 30px;
    font-weight: bold;
}

.ann-section h6 {
    line-height: 0.7cm;
}

.announ{
    padding: 1rem;
    border-radius: 27px;
    background-color: #ffd504;
    display: flex;
    flex-direction: column;
}


.announ2:hover,
.announ3:hover {
    background-color: #fff8d4;
}

.announ1 {
    background-color: #ffd504;

}

.announ2,
.announ3 {
    background-color: #E5C004;
}

#announ1,
#announ2,
#announ3 {
    text-decoration: none;
    color: #ffffff;
}

#announ2:hover,
#announ3:hover {
    color: #585858 !important;
}

.announ1 h2,
.announ2 h2,
.announ3 h2 {
    font-size: 20px;
    font-family: inter;
    font-weight: 400;
}

.announ1 h5,
.announ2 h5,
.announ3 h5 {

}

.annbox p {
    text-align: center;
}