.annbox
{   
    width: 1100px;
    height: 450px;
    background-color: white;
    position: absolute; /* need to change to flex */
    top: 150px;
    left: 340px;
    box-shadow: 2px 2px 30px 2px #00000015;
    border-radius: 27px;   
}
.annbox h3
{
    font-family: inter;
    font-style: normal;
    font-size: 30px;
    color: #585858;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.announ1, .announ2, .announ3,
.announ4, .announ5, .announ6
{   
    width: 320px;
    height: 150px;
    position: absolute; /* need to change to flex */
    left: 15px;
    border-radius: 27px;  
    background-color: #ffd504; 
}
#announ1, #announ2, #announ3,
#announ4, #announ5, #announ6
{
    text-decoration: none;
    color: #ffffff;
}
.announ1:hover, .announ2:hover, .announ3:hover,
.announ4:hover, .announ5:hover, .announ6:hover
{
    background-color: #fff8d4;
    color: #585858 !important;
}

/* Start of need help section: Need Help in making them a block  */

.announ1
{
    top: 100px;
    left: 30px;
}
.announ2
{
    top: 100px;
    left: 390px;
}
.announ3
{
    top: 100px;
    left: 750px;
}
.announ4
{
    top: 270px;
    left: 30px;
}
.announ5
{
    top: 270px;
    left: 390px;
}
.announ6
{
    top: 270px;
    left: 750px;
}

/* End of Help Needed section  */

.announs h2
{
    font-size: 17px;
    font-family: inter;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.announs p
{
   text-align: center;
   padding-top: 20px;
}
.nav-bar 
{
    justify-content: flex-end !important;
}
.text p
{
    margin: 1rem 0rem 0rem 0rem;
}
.announs a 
{
    margin: 0.4rem 0rem;
}
