* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.page {
  display: flex;
}

.sidebar {
  width: 383px;
  height: 100%;
  background-color: #ffffff;
}

.right-part {
  width: 1537px;
  height: 100%;
  background-color: #fff8d4;
}

.msg-part {
  display: flex;
}

.account {
  width: 100%;
  height: 18.5vh;
  display: flex;
  align-items: center;
  padding-right: 148.9px;
  gap: 14px;
}
.account h1 {
  font-size: 31.3px;
  color: #585858;
  font-weight: 550;
}
.account h3 {
  font-size: 21.3px;
  color: #585858;
  font-weight: 550;
}
.account .message-icon {
  margin-left: auto;
}
.account span {
  color: #ffd504;
  font-size: 37px;
}
.account .bell {
  font-size: 40px;
}
.account .account-icon {
  font-size: 70px;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #fff8d4;
}

.compose-container {
  width: 1356px;
  /* height: 769px; */
  height: 81.5vh;
  margin-left: 32px;
  background-color: #ffffff;
  box-shadow: -1px 3px 8px rgba(96, 80, 0, 0.25);
  border-radius: 23px;
  padding: 53px 80px 28px 80px;
  display: flex;
  flex-direction: column;
}

.recipients {
  width: 835px;
  height: 40px;
  border: 2.12468px solid #edeff1;
  border-radius: 8.6234px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20.3191px;
  line-height: 24px;
}

#BccBtn {
  position: relative;
  background: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20.3191px;
  color: #585858;
  right: 57px;
  padding-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.subject {
  width: 835px;
  height: 40px;
  border: 2.12468px solid #edeff1;
  border-radius: 8.6234px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20.3191px;
  line-height: 24px;
  margin-top: 6px;
}

.tox-promotion {
  display: none;
}

.textarea-container {
  width: 100%;
  height: 525px;
  padding-top: 12px;
}

.tox-statusbar__branding {
  display: none;
}
.tox.tox-tinymce .tox-statusbar {
  display: none;
}
textarea.tox#tinymce::-webkit-scrollbar {
  width: 5px;
}

textarea.tox#tinymce::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

textarea.tox#tinymce::-webkit-scrollbar-thumb {
  background-color: #353535;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 100px;
}

/* #content {
  margin-top: 18px;
  height: 550px;
  width: 100%;
  border: 2.12468px solid #edeff1;
  border-radius: 10.6234px;
  resize: none;
  padding: 24px;
  overflow-y: auto;
  font-size: 19px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  line-height: 29px;
  text-align: justify;
} */

/* #content::-webkit-scrollbar {
  width: 21px;
}

#content::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

#content::-webkit-scrollbar-thumb {
  background-color: #353535;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 100px;
} */

.btn {
  font-size: 26.36px;
  margin-top: 20px;
  height: 51px;
  width: 184px;
  border: none;
  border-radius: 25.5229px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  position: relative;
  cursor: pointer;
  padding-bottom: 6px;
}
.btns {
  text-align: right;
}

.btn:hover {
  border: black solid 2px;
}

.btn img {
  position: relative;
  top: 7px;
  left: 4px;
}

.send {
  background-color: #ffd504;
  margin-left: 14px;
}
.material-symbols-outlined.send-icon {
  font-size: 29px;
  font-weight: 400;
  position: relative;
  top: 5px;
}

.cancel {
  background-color: #585858;
}

.material-symbols-outlined.cancel-icon {
  font-size: 29px;
  font-weight: 400;
  position: relative;
  top: 5px;
}

#dim {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 89;
  background-color: black;
  filter: alpha(opacity=50); /* internet explorer */
  -khtml-opacity: 0.5; /* khtml, old safari */
  -moz-opacity: 0.5; /* mozilla, netscape */
  opacity: 0.5; /* fx, safari, opera */
  visibility: hidden;
}

#popup {
  width: 570px;
  height: 600px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 30px 0;
  border-radius: 37.698px;
  padding: 17px 17px;
  visibility: hidden;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

.input-box i {
  position: absolute;
  /* margin-left: 33px; */
  padding: 17.5px 9px 17.5px 9px;
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
}

.search {
  height: 50px;
  width: 400px;
  font-family: "Inter", sans-serif;
  padding-left: 28px;
  font-size: 14px;
  background-color: #f5f5f5;
  border-width: 0px;
  border-radius: 6.4px;
  /* margin-left: 33px; */
}

.select-all input {
  height: 20px;
  width: 20px;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  transform: scale(1.4);
  margin: 5px;
}

.list {
  width: 519px;
  height: 409px;
  padding: 9px 9px;
  overflow-y: auto;
}

.list ul {
  list-style: none;
}

.list li {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 13px 0;
}

.users-list li {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  box-shadow: -1px 3px 8px rgba(96, 80, 0, 0.25);
}

.users-list input {
  margin-right: 10px;
  margin-left: 12px;
}

.users-list li img {
  width: 30px;
  height: 30px;
  margin-right: 6.5px;
}

.list::-webkit-scrollbar {
  width: 21px;
}

.list::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #353535;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 100px;
}

.material-symbols-outlined.name-icon {
  font-size: 30px;
  color: #ffd504;
}

.users-list span {
  margin-right: 9px;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 70px;
}

.popup-buttons {
  display: flex;
  gap: 0 10px;
}

#insert {
  background-color: #ffd504;
  margin-top: 0;
  height: 45px;
  width: 140px;
  font-size: 25px;
}

#insert img {
  width: 29px;
  height: 29px;
  position: relative;
  left: 1px;
}

#popup-cancel {
  background-color: #585858;
  margin-top: 0;
  height: 45px;
  width: 140px;
  font-size: 25px;
}

.material-symbols-outlined.cancel {
  font-size: 29px;
  font-weight: 400;
  position: relative;
  top: 5px;
}

.active {
  visibility: visible;
}
