.back
{ 
    width: 150px;
    height: 50px;
    background-color: #ffd504;
    position: absolute;
    top: 80px;
    left: 340px;
    border-radius: 27px;
}
.back h4 
{
    color: white;
    position: absolute;
    top: 15px;
    left: 30px;
    font-family: inter;
    font-size:larger;

}
.table-container
{
    width: 1100px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 340px;
    box-shadow: 2px 2px 30px 2px #00000015;
    border-radius: 27px;
}
.DataTable {
  width: 100%;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  position: absolute;
  top: 100px;
}

thead {
  background-color: #F5F5F5;
}

.center {
  text-align: center;
}

th,
td {
  padding: 18px !important;
  text-align: left;
  border-bottom: 1px solid #e5e5e5 !important;
}

th {
  cursor: pointer;
  width: 100px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td{
  max-width: 100px  !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sort {
  margin-left: 5px;
}
.table-container h3
{
    font-family: inter;
    font-style: normal;
    font-size: 25px;
    color: #585858;
    position: absolute;
    top: 40px;
    left: 65px;

}

#searchInput {
  margin-bottom: 10px;
  position: absolute;
  left: 900px;
  top: 40px;
  border-radius: 5px;
}

.rotateImage img {
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(-180deg);
}

.pending div {
  color: #AE9100;
  background-color: #FFF8D4 !important;
}

.completed div {
  color: #007505;
  background-color: #EBF8EC !important;
}

.state div {
  padding: 0.3rem 0.6rem;
  border-radius: 19px;
  font-weight: 500;

}

#back-left{
  background: transparent;
  border: none;
  color: transparent;
}