body {
    background-image: url(../img/login/unibuilding.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 0 0;
}

.forgetPassCont {
    text-align: center;
    background-color: #fffffff1;
    padding: 3rem 2rem !important;
    border-radius: 21px;
    width: 30%;
}
#Forgetpass{
    font-size: 27px;
    font-weight: 600;
    margin: 1rem 0;
}
#Enterpass{
    margin: 1rem 2rem 1rem 3rem;
    text-align: center;

}
#EmailInput{
    text-align: start;
    margin: 0 3rem;
}
#EmailInput label{
    display: block;
    margin: 0 0 0.2rem .5rem;
    font-size: 20px;
}
#EmailInput input{
    box-sizing: border-box;
    border: solid #FFD504 2px;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    padding: 10px 15px;
}

.forgetPassCont button{
    box-sizing: border-box;
    border: none;
    background-color: #00B1AC;
    color: #ffffff;
    width: 75%;
    padding: 10px 15px;
    margin: 1rem 0rem 0rem 0rem;
    border-radius: 21px;
}