.Two-Inputs-line{
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.Two-Inputs-line div{
    width: 50%;
    margin: 1rem;
}
.inputs label {
    display: block;
    margin: 0 0 .5rem 0 ;
}

.inputs input,
 select{
    box-sizing: border-box;
    border: solid #FFD504 2px;
    border-radius: 10px;
    padding: 10px 10px;
    width: 80%;
}
option{
    background-color: #FFF8D4;
}

.Add{
    justify-content: flex-end !important;
}

.sendButton{
    text-align: end;
}
.sendButton button ,#next-btn, .backButton div{
    margin: 3rem 3rem 0 0;
    padding: .5rem 3rem;
    border: none;
    border-radius: 27px;
    background-color: #FFD504;
    font-size: 18px;
    color: #fff !important;
    cursor: pointer;
}