/* .tilte{
    font-size: 31.85px;
}
.text,
.deadline{
font-size: 19.85px;
}

img{
    margin-left: 20px;
    
}
   
.link{
    padding: 10px;
    padding-left: 20px;
    padding-right: 25px;
    margin-left: 170px;
    font-size: 26.85px;
    color: #FFFFFF;
    background: #FFD504;
    border-radius: 25px;

}
a{
    text-decoration: none;
}

.file1{ 
padding: 20px;
position: absolute;
width: 372px;
height: 526px;
left: 494px;
top: 269px;
background: #FFFFFF;
box-shadow: -1px 3px 8px rgba(96, 80, 0, 0.25);
border-radius: 29px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 26.85px;
line-height: 45px;
}

.file2{
padding: 20px;
position: absolute;
width: 372px;
height: 526px;
left: 946px;
top: 269px;
background: #FFFFFF;
box-shadow: -1px 3px 8px rgba(96, 80, 0, 0.25);
border-radius: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26.85px;
line-height: 45px;
}

.file3{
padding: 20px;
position: absolute;
width: 372px;
height: 526px;
left: 1398px;
top: 269px;
background: #FFFFFF;
box-shadow: -1px 3px 8px rgba(96, 80, 0, 0.25);
border-radius: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26.85px;
line-height: 45px;
}
 */

 .Account-Content{
    display: flex;
    margin: 6rem 0 0 0;
 }
 .file1,
 .file2,
 .file3{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 27px;
    padding: 1rem;
    margin: 0 1rem ;
    box-shadow: 2px 2px 30px 2px #00000015;
 }
 .title{
    margin: 2rem  0 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 600;
 }
.text{
    margin: 0 1rem 1rem 1rem;
    line-height: 1.5;
    font-size: 1rem;
}
.deadline{
    margin: 0 0 1rem 1rem;
    font-weight: 700;
}
.FilesLinks{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}
#LinkStartButton{
    padding: 0.5rem 2rem;
    font-size: 18px;
    color: #fff !important;
    border: none !important;
    background-color: #FFD504 !important;
    border-radius: 21px;
    cursor: pointer;
    margin: 1rem 1rem 0 1rem;
}