* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.page {
  display: flex;
}

.sidebar {
  width: 383px;
  height: 100%;
  background-color: #ffffff;
}

.right-part {
  width: 1537px;
  height: 100%;
  background-color: #fff8d4;
}

.msg-part {
  display: flex;
  height: 100%;
  width: 100%;
}

.account {
  width: 100%;
  /* height: 168px; */
  height: 18vh;

  display: flex;
  align-items: center;
  padding-right: 148.9px;
  gap: 14px;
}
.account h1 {
  font-size: 31.3px;
  color: #585858;
  font-weight: 550;
}
.account h3 {
  font-size: 21.3px;
  color: #585858;
  font-weight: 550;
}
.account .message-icon {
  margin-left: auto;
}
.account span {
  color: #ffd504;
  font-size: 37px;
}
.account .bell {
  font-size: 40px;
}
.account .account-icon {
  font-size: 70px;
}

.input-box i {
  position: absolute;
  margin-left: 33px;
  padding: 17.5px 9px 17.5px 9px;
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
}

.search {
  height: 50px;
  width: 392px;
  font-family: "Inter", sans-serif;
  padding-left: 28px;
  font-size: 14px;
  background-color: #f5f5f5;
  border-width: 0px;
  border-radius: 6.4px;
  margin-left: 33px;
}

.list-part {
  width: 458px;
  height: 82vh;
  display: flex;
  flex-direction: column;
  gap: 17px 0;
  overflow-x: visible;
  cursor: default;
}

.msg-cards {
  width: 100%;
  height: 100%;
  padding: 0 33px;
  display: flex;
  flex-direction: column;
  gap: 17px 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  text-align: justify;
  padding-bottom: 17px;
  padding-top: 3px;
  align-items: center;
  overflow-y: scroll;
}

.msg-cards::-webkit-scrollbar {
  display: none;
}

.msg-card {
  height: 145px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 14px 34px;
  position: relative;
  box-shadow: -1px 3px 8px rgba(96, 80, 0, 0.25);
}

.msg-card:hover {
  background-color: #f0f0f0;
  transition: 0.3s;
}

.active {
  background-color: #f0f0f0;
}

.name-box {
  display: flex;
  align-items: center;
}

.name-box img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.name-icon {
  color: #ffd504;
}

.material-symbols-outlined.read-icon {
  font-size: 15px;
  color: #fc9d9d;
  position: absolute;
  left: 12px;
  top: 24px;
}

.material-symbols-outlined.name-icon {
  font-size: 30px;
}

.time {
  margin-left: auto;
  font-size: small;
}

.card-name {
  font-size: 26.5px;
}

.card-title {
  font-size: larger;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  padding: 9px 0;
}

.card-content {
  font-size: small;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.msg-details {
  min-width: 100vh;
  min-height: 74.4vh;
  text-align: justify;
}
.msg-details h1 span {
  color: #585858;
  font-weight: 200;
}

.msg-detail {
  /* height: 699px; */
  height: 74.45vh;

  /* width: 930px; */
  width: 48.5vw;
  margin-top: 14px;
  padding: 44px 54px;
  background-color: #ffffff;
  box-shadow: -1px 3px 8px rgba(96, 80, 0, 0.25);
  border-radius: 23px;
}

.msg-name-box {
  display: flex;
  align-items: center;
}

.msg-details h1 {
  font-size: 42px;
  margin-top: 5px;
  margin-left: 5px;
}
.material-symbols-outlined.msg-icon {
  font-size: 50px;
  color: #ffd504;
}

.msg-name-box img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.msg-subject {
  font-size: 29.14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0;
}

.msg-content {
  font-size: 20.85px;
  font-weight: 450;
  color: rgba(0, 0, 0, 0.7);
  min-height: 400px;
  max-height: 500px;
  line-height: 33.5px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 600px) {
  .msg-content {
    font-size: 12.85px;
    height: 200px;
  }
}

.msg-content::-webkit-scrollbar {
  display: none;
}

.buttons {
  width: 400px;
}

.btn {
  font-size: 26.36px;
  margin-top: 20px;
  height: 51px;
  width: 184px;
  border: none;
  border-radius: 25.5229px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  position: relative;
  cursor: pointer;
  padding-bottom: 6px;
}

.btn:hover {
  border: black solid 2px;
  /* transition: 0.1s; */
}

.reply {
  background-color: #ffd504;
}
.material-symbols-outlined.reply {
  font-size: 29px;
  font-weight: 400;
  position: relative;
  top: 5px;
}

.delete {
  background-color: #585858;
}

.material-symbols-outlined.delete {
  font-size: 29px;
  font-weight: 400;
  position: relative;
  top: 5px;
}

.read {
  visibility: hidden;
}

.popup {
  width: 570px;
  height: 331.75px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px 0;
  border-radius: 37.6984px;
  visibility: hidden;
}
.popup span {
  font-size: 90px;
  color: #ffd504;
}
.popup h1 {
  font-size: 46px;
  font-weight: 500;
  margin-top: -20px;
}
.yes {
  background-color: #585858;
  color: #ffffff;
  width: 180px;
  height: 50px;
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}
.no {
  background-color: #ffd504;
  color: #ffffff;
  width: 180px;
  height: 50px;
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}
.dim {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 89;
  background-color: black;
  filter: alpha(opacity=50); /* internet explorer */
  -khtml-opacity: 0.5; /* khtml, old safari */
  -moz-opacity: 0.5; /* mozilla, netscape */
  opacity: 0.5; /* fx, safari, opera */
  visibility: hidden;
}
.open-popup {
  visibility: visible;
}
