.messagingboxContiner{
    background-color: #ffd5049f !important;
    width: fit-content;
    padding: 1rem .5rem;
    line-height: 1.5;
    border-radius: 27px 0 27px 27px;
    position: fixed;
    top: 8%;
    right: 13.5%;
}
.messageingbox{
    width: 15rem;
    height: 20rem;
    padding: 0 1rem;
    overflow-y: scroll;
   
}
.messageingbox::-webkit-scrollbar {
    width: 8px;
    border-radius: 27px;
}

.messageingbox::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 27px;
}

.messageingbox::-webkit-scrollbar-thumb:hover {
    background: #585858;
}
.message1,
.message2,
.message3{
    background-color: #F7F7F7;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 27px;
    height: fit-content;
}
.message1 p,
.message1 p,
.message1 p{
    margin: 1rem 0 0 0;
}
.eyeImg{
    display: flex;
    justify-content: flex-end;
}