.nav-bar {
  justify-content: flex-end !important;
}



.CareerCenter-Content {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 5rem 0rem 0rem 0rem;
}

.both-sides {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widgets-shared {
  background-color: #fff;
  box-shadow: 2px 2px 30px 2px #00000015;
  border-radius: 27px;
  display: flex;
}

.nav-bar {
  justify-content: flex-end !important;
}

.widgetHeader {
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.5s;
  justify-content: space-between;
}

.Icon-text{
  display: flex;
  align-items: center;
}

.widget-left-side p,.widget-right-side p {
  color: #585858;
  font-size: 20px;
  font-family: inter;
  font-weight: 600;
}

.widget-left-side img {
  margin: 0px 10px 0px 0px
}

.widget-left-side .hover-image {
  transition: transform 0.3s ease;
}

.widget-left-side:hover .hover-image {
  transform: scale(1.1) translate(-3.5%, -3.7%);
}



.widget-left-side {
  flex-direction: column;
  display: flex;
  margin: 0rem 2rem 0rem 0rem;

  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  position: relative;
}

.widget-left-side img.hover-image {
  position: absolute;
  right: 0;
  bottom: 0;

}

.DataTable{
  margin: 1.5rem 0rem 0rem 0rem;
}

.widget-right-side{
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-right-side img {
  margin: 0px 10px 0px 0px
}

.right-section-widgets{
  width: 70%;
  justify-content: space-between;
}

.check-all-btn button{
  background-color: transparent;
  border: none;
  font-family: inter;
  font-size: 16px;
  cursor: pointer;
}

.widget-right-side p{
  width: 60%;
}

.collapse{
  display: none;
}