

/* reset code ^*/


<<<<<<< Updated upstream

<<<<<<< Updated upstream
body {
    margin: 0;
    padding: 0;
    font-family: inter;
    background-color: #F7F7F7 !important;

}


<<<<<<< Updated upstream
.wrapper {
=======
=======

>>>>>>> Stashed changes

/* .all {
>>>>>>> Stashed changes
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes

=======
 */
>>>>>>> Stashed changes

/*----------side menu bar---------- */

<<<<<<< Updated upstream
.logo {
    text-align: center;
    margin: 1rem 0 3rem 0;
}

.icons {
    width: 80%;
    margin: 0 2rem 0 2rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.side-bar {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.home a,
.internship a,
.forms a,
.guide a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.home p,
.internship p,
.forms p,
.guide p {
    font-size: 20px;
    font-weight: 500;
    color: #585858;
    margin: 0 0 0 1rem;
}
.home,
.Messages,
.internship,
.forms,
.guide{
    margin: 0rem 0rem 2rem 0rem ;

}


/*----------Messages Dropdown Menu----------*/

.Messages {
    width: 100%;
    border-radius: 27px;
}

.Messages p {
    margin: 0 3rem 0 1rem;
    color: #585858;
}

.MessagesHead {
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 27px;
}

.MessagesHead::after {
    float: inline-start;
    right: 10%;
    content: "\221F";
    transform: rotate(-45deg);
}

.Messagesslide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
}

.Messagesslide a {
    text-decoration: none;
}

.Messagesslide li {
    list-style-type: none;
}

/* .Messagesslide li {
    padding: 3px;
}

#Messagestouch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#Messagestouch:checked+.Messagesslide {
    height: 100px;
} */

.Messagesslide li {padding : 3px;}
      
#Messagestouch {position: absolute; opacity: 0; height: 0px;}    
      
#Messagestouch:checked + .Messagesslide {height: 65px;} 


/*----------Messages Dropdown menu----------*/
.logout-support-hr {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25%;
}

.logout {
    margin: 1rem 0 0 0;
}

.logout a,
.support a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logout p,
.support p {
    margin: 0 0 0 1rem;
}

/*----------side menu bar---------- */

/*------- Student page side------*/
.contents {
    margin: 0rem 6rem;
}

.studentpage {
<<<<<<< Updated upstream
   
=======
    background-color: #F7F7F7;
=======
.studentpage {
>>>>>>> Stashed changes
>>>>>>> Stashed changes
    width: 100%;
}

.internshipSide {
    margin: 3rem 0rem 0rem 0rem;

}

.internships {
    display: flex;
    justify-content: space-between;
}

.checkAll {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.checkAll h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #585858;
}

.checkAll a {
    text-decoration: none;
    color: #888888;
}

.firstInternship,
.secondInternship,
.thirdInternship {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 27px;
    padding: 2rem 1rem;
    margin: 0rem 2rem;
    box-shadow: 2px 2px 30px 2px #00000015;
    justify-content: space-between;

}

.companySave {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 .5rem 0;
}

.companyLogo {
    display: flex;
    align-items: center;
}

.companyLogo h3 {
    font-weight: 500;
    margin: 0;
}

.companyLogo img {
    margin: 0 .2rem 0 0;
}

.job h3 {
    margin: 0 0 0.5rem 0;
}

.job h5 {
    margin: 0;
}

.location a {
    display: flex;
    align-items: center;
}

.location a {
    text-decoration: none;
}

.location img {
    margin: 0 1rem 0 0;
}

.howWork {
    margin: 3rem 0rem 0rem 0rem;
}

.how {
    margin: 0 0 2rem 0;
}

.how h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #585858;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    width: 100%;
    height: 12rem;
    margin: 0rem 2rem;
    border-radius: 27px;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 30px 2px #00000015;
}

.step1 h3 {
    margin: .5rem 0 0 0;
    font-size: 22px;
    font-weight: 500;
    color: #585858;
}

.step1 p {
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
    color: #585858;

}

.step1 a {
    font-size: 1rem;
    padding: 0.5rem 0rem;
    text-align: center;
    border-radius: 27px;
    border: none;
    color: #FFFFFF;
    background-color: #FFD504;
}


