@font-face {
    src: url(font/Inter-VariableFont_slnt,wght.ttf);
    font-family: inter;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    color: #585858 !important;
}
a{
    text-decoration: none;
    color: #585858 !important;

}
/*----------------------reset code-----------------*/ 

body {
    margin: 0;
    padding: 0;
    font-family: inter;
    background-color: #F7F7F7 !important;

}

.wrapper {
  
    height: 100vh;
} 

.side-bar {
    background-color: #FFFFFF;
    float: left;
    height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;

}
.Messagesslide{
    display: none;
}
.logo {
    text-align: center;
    margin: 1rem 0 3rem 0;
}

.icons {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
}
.home a
,.internship a
,.forms a
,.guide a 
{
    display: flex;
    align-items: center;
}
#dropdown-messages-student{
    display: flex;
    align-items: center;
}
.home p
,.internship p
,.forms p
,.guide p
,.Messages p{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0 1rem;
}
.home,
.Messages,
.internship,
.forms,
.guide{
    margin-bottom: calc(4.5vh);

}
#dropdown-messages-student p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Messages ul {
    margin: 1rem 0 0 2rem;
    text-decoration: none;
}
.Messages ul li {
    margin: 0 0 1rem 0;
}
.Messagesslide a {
    display: block;
    font-size: 18px;
}
.logout-support{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logout{
    border-top: 1px solid #585858;
}
.logout a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
}
.support a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
}
.logout p,
.support p {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 1rem;
}
.support {
    position: fixed;
    bottom: 1.5rem;
}

/*----------side menu bar---------- */

/*------- Student page side------*/
.right-section {
    margin: 0 0 0 16rem;
}
.contents{
    margin: 0rem 6rem 0 6rem;
}


/* navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;

}

.status {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px 2px #00000015;
    border-radius: 27px;
    padding: 0.5rem 2rem;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;

}


.progress-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;

}

.progress-line {
    width: 7rem;
    height: 0.3rem !important;
    background-color: #ccc;

}

.progress-line {

    height: 2px;
    background-color: #ccc;
}

.progress-animation {
    background-color: #FFD504;
    transition: background-color 0.5s ease;
}

.progress-animation2 {
    background-color: #FFD504;
    transition: background-color 0.9s ease;
}

.status-info {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 0rem 0rem 0rem 2rem;

}

.Account {
    display: flex;
    align-items: center;
}

.Account-Text {
    font-family: inter;
    color: #585858;
    font-weight: 600;
    margin-left: 0.5rem;
}

.Account-Text p {
    margin: 0.5rem 0rem;
}

.call-to-action-btns {
    display: flex;
    align-items: center;
}

.call-to-action-btns a {
    margin: 0rem 1rem;
}

/* navbar */